<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="header.css">
  <script src="./js/script.js" defer></script>
</head>

<body>
  <header class="header">
    <a href="#" class="header__burger-menu-link"><img  src="img/burger-menu.svg" alt="burger-menu"></a>
    <p class="phone phone_type_laptop phone_disabled">+7 (456) 234 36 96</p>
    <a href="#" class="logo"><img src="img/logo.svg" alt="logo" class="logo"></a>
    <div class="header__burger-menu-background nav_disabled"></div>
    <nav class="nav nav_type_burger nav_disabled">           
        <ul>
          <li><a class="nav__item nav__item_type_burger" href="#">Контакты</a></li>
          <li><a class="nav__item nav__item_type_burger" href="#">Каталог</a></li>
          <li><a class="nav__item nav__item_type_burger" href="#">Акции</a></li>
          <li><a class="nav__item nav__item_type_burger" href="#">Статьи</a></li>
        </ul>
        <p class="nav__contacts nav__contacts_type_burger">+7 (456) 234 36 96</p>
        <p class="nav__adress nav__adress_type_burger">Москва, ул. Мечты, 21</p>
        <div class="nav__social_type_burger">
          <img class="nav__burger-social-img" src="img/vk.svg" alt="vk-social">
          <img class="nav__burger-social-img" src="img/fb.svg" alt="facebook-social">
          <img class="nav__burger-social-img" src="img/inst.svg" alt="instagram-social">
        </div>
        <a href="#"><img class="nav__burger-close-button" src="img/close-button.svg" alt="close-button"></a>
    </nav>
    <nav class="nav header__nav"> 
        <p class="header__adress">Москва, ул. Мечты, 21</p>          
        <ul class="header__menu">
          <li class="nav__item header__nav-item"><a class="header__nav-link"  href="#">Контакты</a></li>
          <li class="nav__item header__nav-item"><a class="header__nav-link"  href="#">Каталог</a></li>
          <li class="nav__item header__nav-item"><a class="header__nav-link"  href="#">Акции</a></li>
          <li class="nav__item header__nav-item"><a class="header__nav-link"  href="#">Статьи</a></li>
        </ul>
        <p class="phone header__phone"> +7 (456) 234 36 96 </p>
    </nav>
  </header>  
</body>

</html>
