@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html, body {
  overflow: hidden;
  font-size: 100%;
  font-variant-numeric: lining-nums;
}

a {
  text-decoration: none;
}

/* header */
.header {
  background: #F4F4F4;
} 

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.375rem;
  margin: 0 1.25rem;
}

header img[src~="logo"] {
  width: 2.31em;
  cursor: pointer;
}

header img[src~="burger-menu"] {
  width: 1.28125em;
  cursor: pointer;
}

.nav-open {
  position: absolute;
  top: 3.125rem;
  left: -1.25rem;
  width: 85%;
  background-color:white;
  z-index: 5;
}

.nav-open div:first-child {
  position: absolute;
  left: 95%;
  width:28%;
  height: 100%;
  background-color: #F4F4F4;
}

header nav ul li {
  margin: 1.25rem;
  list-style-type: none;
  font-size: 1.1875rem;
  font-family: 'Raleway', sans-serif;
}

header nav ul li:last-child {
  margin-bottom: 4.25rem;
}

header nav ul li a {
  display: block;
  padding: 0.2rem 0.8rem;
  color: #621055;
}

.close-button {
  position: absolute;
  right: 0.8125rem;
  top: 0.8125rem;
}

.nav-closed,
.phone {
  display: none;
}

header nav p {
  margin:0.9375rem 1.25rem;
  color: #B52B65;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
}

header nav p + p {
  font-size: 0.875rem;
}

header nav div {
  margin: 0 0 1.3125rem 1.25rem;
}

header nav div img {
  margin: 0 0.75rem 0 0;
}

@media (min-width: 22.5rem) {
  .phone {
    position: absolute;
    right: 4.5em;
    display: block;
    color: #B52B65;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
  }
}

@media (min-width: 46rem) {
  .burger-menu,
  .nav-open div:first-child,
  .nav-open img,
  .nav-open p + p,
  .desctop-nav{
    display: none;
  }

  .nav-open {
    position: relative;
    top: 0;
    display: block;
    margin: 0 21% 0 0;
    background-color: transparent;
  }

  .nav-open ul li,
  .nav-open ul li:last-child,
  .nav-open p,
  .nav-open div {
    margin: 0;
  }

  .nav-open ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
  }

  .phone {
    position: absolute;
    right: 1.25em;
    display: block;
    color: #621055;
    font-family: 'Raleway', sans-serif;
  }

  .phone:hover,
  .nav-open p + p {
    cursor: pointer;
  }

  header nav ul li a:hover {
    color: #B52B65;
  }

  header nav ul li:hover {
    border-radius: 50px;
    box-shadow: inset 0 0 0 2px #621055;
    color: #B52B65;
  }
}

@media screen and (min-width: 62.5rem) {
  .nav-open p + p {
    position: absolute;
    left: 2.78rem;
    top: 0.375rem;
    display: block;
    color: #621055;
    font-size: 1rem;
  }

  .nav-open {
    margin: 0 18% 0 0;
  }

  .nav-open ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0 0 0 17rem;
  }
}

/* footer */
footer {
  width: 100%;
  background:#621055;
  font-family: 'Raleway',
  sans-serif;
  position: relative;
}

footer p,
footer a,
footer div div,
footer input,
footer nav {
  width: fit-content;
  margin: 0.625rem auto;
  color: #F4F4F4;
}

footer p {
  font-size: 0.875rem;
}

footer p:last-child {
  margin: 0.625rem auto 0;
}

.footer-contacts {
  padding: 0.9375rem 0 0 0;
  margin-top: 0;
}

.footer-contacts p:first-child {
  font-size: 1.25rem;
}

.footer-conf-policy p:last-child {
  padding: 0 0 0.9375rem 0;
}

.footer-logo,
footer input {
  display: block;
}

footer input {
  border: 2px solid #F4F4F4;
  border-radius: 50px;
  background: transparent;
  padding: 0.8125rem 1.875rem;
  font-size: 0.75rem;
  cursor: pointer;
  margin: 1.4375rem auto 1.875rem auto;
}

.footer-logo-social img {
  width: 2.534375rem;
}

.footer-logo img {
  width: 5.5625rem;
  padding: 0.625rem 0;
}

.footer-fb-social {
  padding: 0 0.875rem;
}

footer nav {
  display: flex;
  justify-content: space-between;
  width: 13.1875rem;
  flex-flow: row wrap;
  font-size: 0.875rem;
  margin: 0 auto 4.4375rem auto;
}

footer nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 4.875em;
  width: 50%;
}

footer nav ul + ul li {
  padding: 0 0 0 2.96875rem;
}

.footer-conf-policy p {
  font-size: 0.625rem;
}

@media (min-width: 26.55rem) {
  .footer-wrapper {
    display: flex;
    justify-content: space-between;  
    flex-flow: wrap;
    align-items: center;
    padding: 0 5% 3rem 5%;
  }

  .footer-block {
    margin: 0;
  }

  .footer-contacts p {
    margin-right: 0;
  }

  .footer-contacts p:first-child {
    font-size: 0.875rem;
  }

  .footer-block, 
  .footer-fb-social {
    padding: 0;
  }

  .footer-contacts {
    order: 4;
    position: relative;
    bottom: 5.4375rem;
  }

  .footer-logo-social {
    order: -2;
    padding: 0.5rem 0;
  }

  .footer-input {
    order: -1;
    align-self: flex-start;
  }

  footer nav ul + ul li {
    padding: 0;
  }

  .footer-logo {
    margin-left: 0;
  }

  .footer-logo img {
    padding-top: 0;
  }
}

@media screen and (min-width: 36rem) {
    .footer-wrapper {
      padding: 0 10% 3rem 10%;
    }
}

@media screen and (min-width: 43rem) {
  .footer-wrapper {
    padding: 0 12.5% 3rem 12.5%;
  }
}

@media screen and (min-width: 46rem) {

  .footer-wrapper {
    align-items: flex-start;
  }

  .footer-block {
    margin: 0;
    padding: 0;
  }

  .footer-input {
    order: 5;
  }

  .footer-input input {
    padding: 0.9375rem 2rem;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 600;
  }

  footer .footer-logo,
  footer .footer-logo img {
    width: 6.58rem;
    padding: 0 0 0.75rem 0;
    margin: auto;
  }

  .footer-fb-social {
    margin: 0 1rem;
  }

  .footer-wrapper {
    padding: 2rem 4% 2.6rem 4%;
  }

  .footer-contacts {
    position: absolute;
    right: calc(4% + 5.18rem);
    top: 6.25rem;
  }

  .footer-contacts p,
  .footer-contacts p:first-child {
    margin-left: 0;
    font-size: 1.25rem;
  }

  .footer-logo-social img {
    width: 2.25rem;
  }

  footer nav {
    font-size: 1rem;
    width:30%;
  }
}

@media screen and (min-width: 58rem) {

  .footer-wrapper {
    align-items: flex-start;
  }

  .footer-block {
    margin: 0;
    padding: 0;
  }

  .footer-input {
    order: 5;
  }

  .footer-input input {
    padding: 0.9375rem 2.9375rem;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 600;
  }

  footer .footer-logo,
  footer .footer-logo img {
    width: 6.58rem;
    padding: 0 0 0.75rem 0;
    margin: auto;
  }

  .footer-fb-social {
    margin: 0 1rem;
  }

  .footer-wrapper {
    padding: 2rem 7% 2.6rem 7%;
  }

  .footer-contacts {
    position: absolute;
    right: calc(7% + 7.1rem);
    top: 6.25rem;

  }

  .footer-contacts p,
  .footer-contacts p:first-child {
    margin-left: 0;
    font-size: 1.25rem;
  }

  .footer-logo-social img {
    width: 2.25rem;
  }

  footer nav {
    font-size: 1.25rem;
    width: 30%;
  }

  footer nav ul li,
  footer nav ul+ul li {
    padding: 0 0 0 3rem;
  }
}






