@import url(../components/landing-page/landing-main-screen.css);
@import url(../components/catalog/catalog.css);
@import url(../components/sales/sales.css);

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway&display=swap');

@font-face {
  font-family: "LifehackSansRegular";
  src: url("../components/fonts/LifehackSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LifehackBasicRegular";
  src: url("../components/fonts/LifehackBasicRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

:root {
  --grey: #F4F4F4;
  --dark-grey: #999;
  --white: #FFF;
  --purple: #621055;
  --pink: #B52B65;
  --orange: #F3B366;
  --light-grey: #FCFCFC;
  --brown-grey: #443E3E;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  font-variant-numeric: lining-nums;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
}



