@import url(../../components/header/header.css);
@import url(../../components/footer/footer.css);
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway&display=swap');

@font-face {
  font-family: "LifehackSansRegular";
  src: url("../fonts/LifehackSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "LifehackBasicRegular";
  src: url("../fonts/LifehackBasicRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

:root {
  --grey: #F4F4F4;
  --dark-grey: #999;
  --white: #FFF;
  --purple: #621055;
  --pink: #B52B65;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  font-variant-numeric: lining-nums;
  font-family: 'Raleway',
    sans-serif;
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
}

.block-header {
  font-family: "LifehackSansRegular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #621055;
  padding: 0 0 0.3125rem;
}

.landing-catalog__block-header {
  margin: 4.375rem 0 0;
}

.landing-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.landing-card {
  display: block;
  height: 6.25rem;
  width: 17.5rem;
  position: relative;
  margin: 0.625rem 0 0;
  text-decoration: none;
  border-radius: 15px;
}

.landing-card_bg_sweet {
  background-image: url('../img/sweet-card-mobile.png');
}

.landing-card_bg_fat {
  background-image: url('../img/fat-card-mobile.png');
}

.landing-card_bg_morse {
  background-image: url('../img/morse-card-mobile.png');
}

.landing-card_bg_pie {
  background-image: url('../img/pie-card-mobile.png');
}

.landing-card__label {
  position: absolute;
  bottom: 0.6rem;
  left: 0.6rem;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0.01em;
}

@media (min-width: 46rem) {
  .landing-cards {
    justify-content: center;
    max-width: 76rem;
    margin: 1.5625rem auto 0;
  }

  .block-header {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .landing-card {
    width: 46.7%;
    height: 21.875rem;
    max-width: 37.375rem;
    border-radius: 43px;
    margin: 0 0.625rem 1.25rem;
  }

  .landing-card:hover {
     box-shadow: inset 0 0 0 2px var(--header-item-color);
  }

  .landing-card_bg_sweet {
    background-image: url('../img/sweet-card.png');
  }

  .landing-card_bg_fat {
    background-image: url('../img/fat-card.png');
  }

  .landing-card_bg_morse {
    background-image: url('../img/morse-card.png');
  }

  .landing-card_bg_pie {
    background-image: url('../img/pie-card.png');
  }

  .landing-card__label {
    bottom: 1.875rem;
    left: 1.875rem;
    font-size: 1.5rem;
  }
}

.articles__block-header {
  margin: 1.875rem 0 0;
}

.landing-card__articles {
  background: #F4F4F4;
}

.landing-card_bg_health::after {
  content: url(../components/img/helth-card-mobile.png);
}

.landing-card_bg_recipe::after {
  content: url(../img/recipe-card-mobile.png);
}

.landing-card_bg_advantage::after {
  content: url(../img/advantage-card-mobile.png);
}

.landing-card__text {
  position: absolute;
  left: 7.0625rem;
  top: 0.75rem;
  color: #B52B65;
}

@media (min-width: 46rem) {

  .landing-cards__articles {
    flex-flow: nowrap;
  }

  .landing-card__articles {
    flex-flow: nowrap;
    max-width: 392px;
    min-height: 392px;
    margin: 0;
  }

  .landing-card__first-article {
    margin: 0 20px 0 0;
  }

  .landing-card__last-article {
    margin: 0 0 0 20px;
  }

  .landing-card_bg_health::after {
    background: url(../components/landing-page/img/helth-card.png);
    background-size: 388px 260px;
    display: block;
    margin: 1px auto;
    width: 388px;
    height: 260px;
    content:"";
  }

  .landing-card_bg_recipe::after {
    content: url(../img/recipe-card.png);
  }

  .landing-card_bg_advantage::after {
    content: url(../img/advantage-card.png);
  }
}

.email-form {
  margin: 1.875rem 0 0;
  padding: 0.875rem 6%;
  background: #FBFBFB;
}

.e-mail-form__header {
  font-style: normal;
  font-weight: normal;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.01em;
  color: #B52B65;
}

.e-mail-form__header_font_basic {
  font-family: "LifehackBasicRegular";
  font-size: 1.375rem;
}

.e-mail-form__header_font_regular {
  font-family: "Raleway";
  font-size: 0.875rem;
}

.email-form__input-text {
  background: #F4F4F4;
  border: 2px solid #621055;
  border-radius: 53px;
  padding: 1rem 0 1rem 1.375rem;
  width: 17.5rem;
  margin: 0.625rem auto 0;
  display: block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 0.625rem;
  line-height: 0.75rem;
  color: #443E3E;
}

.email-form__input-button {
  width: 9.375rem;
  padding: 0.8125rem;
  margin: 1rem auto 0;
  display: block;
  background: #621055;
  border-radius: 3.3125rem;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.875rem;
  text-align: center;
  color: #F4F4F4;
  border: none;
}

@media (min-width: 46rem) {
  .email-bg {
    width: 100%;
    height: 428px;
    background: url(../components/landing-page/img/email-bg.png) center no-repeat;
    margin: 30px 0 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .email-form {
    margin: 0;
  }

}

