<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="slider.css">
  <title>Document</title>
</head>

<body>
  <section class="articles">
    <h1 class="block-header articles__block-header">Статьи</h1>
    <div class="landing-cards landing-cards__articles">
      <a class ="landing-card landing-card__articles landing-card__first-article landing-card_bg_health" href="#" title="health">
        <p class="landing-card__text">5 полезных для здоровья веществ, которые есть в морсах</p>
      </a>
      <a class ="landing-card landing-card__articles
        landing-card_bg_recipe" href="#" title="recipe">
      <p class="landing-card__text">Как приготовить пирог &laquo;Маргарита&raquo; <br>у себя дома</p>
      </a>
      <a class ="landing-card landing-card__articles landing-card_bg_advantage
      landing-card__last-article" href="#" title="advantage">
      <p class="landing-card__text">Почему наши пироги самые лучшие?</p>
      </a>
    </div>
  </section>
</body>

</html>
