<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../project/css/style.css">
  <link rel="stylesheet" href="landing-main-screen.css">
  
  <title>Document</title>
</head>
<body>
  <article class="main-screen">
    <section class="pie-shop-adv">
      <h1 class="pie-shop-adv__header main-screen_align_text">Пироговая N1</h1>
      <h2 class="pie-shop-adv__paragraph main-screen_align_text">Домашние пироги для всей семьи<br> со скидкой 20%<br></h2>
      <h3 class="pie-shop-adv__small-paragraph main-screen_align_text">Проводите время с семьей, а не с духовкой</h3>
      <input class="button main-screen__button" type="button" value="Подробнее">
      <p class="pie-shop-adv__small-paragraph main-screen_align_text pie-shop-adv__small-paragraph_disp_none">... ммм, скоро будет вкусно</p>
    </section>
    <div class=main-screen__block></div>
    <section class="main-screen__slider">
        <a href="#" class="slider__link">
          <p class="slider__content">Скидка 20% при заказе трех и более пирогов</p>
          <p class="slider__content slider__content_more">подробнее</p>
        </a>
        <a href="#" class="slider__link-inner slider__link_disabled">
          <p class="slider__content">При заказе от 5000 &#8381 доставка бесплатно</p>
          <p class="slider__content slider__content_more">подробнее</p>
        </a>
        <a href="#"><img src="img/main-sale-slider.svg" alt="slider-button" class="slider__button-left"></a>
        <a href="#"><img src="img/main-sale-slider.svg" alt="slider-button" class="slider__button-right"></a>
    </section>
    <section class="main-screen__slider-desctop">
        <a href="#" class="slider__link">
          <p class="slider__content slider__link_type_animated">Скидка 20% при заказе трех и более пирогов</p>
          <p class="slider__content slider__content_more slider__content_type_animated-1">подробнее</p>
        </a>
        <a href="#" class="slider__link slider__link_type_bg-changed">
          <p class="slider__content slider__link_type_animated">При заказе от 5000 &#8381 доставка бесплатно</p>
          <p class="slider__content slider__content_more slider__content_type_animated-2">подробнее</p>
        </a>
    </section>
  </article>
  <section class="advantages">
    <div class="advantages__container">
      <div class="advantages__bg advantages__bg_donuts"></div>
      <p class="advantages__name">Любой объем</p>
    </div>
    <div class="advantages__container">
      <div class="advantages__bg advantages__bg_oven"></div>
      <p class="advantages__name">Доставим горячими</p>
    </div>
    <div class="advantages__container">
      <div class="advantages__bg advantages__bg_cake"></div>
      <p class="advantages__name">Вкусные начинки</p>
    </div>
    <div class="advantages__container">
      <div class="advantages__bg advantages__bg_bread"></div>
      <p class="advantages__name">Сочные и свежие</p>
    </div>
  </section>

</body>
</html>