<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="manifest" href="../../manifest/manifest.json">
  <link rel="stylesheet" href="../../normalize.css">
  <link href="../header/img/logo.svg" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" href="../articles/articles.css">
  <script src="../header/js/script.js" defer></script>
  <script src="article-slider.js" defer></script>
  <script src="slideBoxes.js" defer></script>
  <title>Articles</title>
</head>

<body>
  <div class="articles-page-wrapper">
    <header class="header">
      <a href="#" class="header__burger-menu-link" title="menu"><img src="../header/img/burger-menu.svg" alt="burger-menu"></a>
      <p class="phone phone_type_laptop phone_disabled">+7 (456) 234 36 96</p>
      <a href="../../index.html" class="logo" title="logo"><img src="../header/img/logo.svg" alt="logo" class="logo"></a>
      <div class="header__burger-menu-background nav_disabled"></div>
      <nav class="nav nav_type_burger nav_disabled"> 
        <ul>
          <li><a class="nav__item nav__item_type_burger" href="../contacts/contacts.html" title="contacts">Контакты</a></li>
          <li><a class="nav__item nav__item_type_burger" href="../catalog/catalog.html" title="catalog">Каталог</a></li>
          <li><a class="nav__item nav__item_type_burger" href="../sales/sales.html" title="sales">Акции</a></li>
          <li><a class="nav__item nav__item_type_burger" href="articles.html" title="articles">Статьи</a></li>
        </ul>
        <p class="nav__contacts nav__contacts_type_burger">+7 (456) 234 36 96</p>
        <p class="nav__adress nav__adress_type_burger">Москва, ул. Мечты, 21</p>
        <div class="nav__social_type_burger">
          <img class="nav__burger-social-img" src="../header/img/vk.svg" alt="vk-social">
          <img class="nav__burger-social-img" src="../header/img/fb.svg" alt="facebook-social">
          <img class="nav__burger-social-img" src="../header/img/inst.svg" alt="instagram-social">
        </div>
        <a href="#"><img class="nav__burger-close-button" src="../header/img/close-button.svg" alt="close-button" title="close menu"></a>
      </nav>
      <nav class="nav header__nav"> 
        <p class="header__adress">Москва, ул. Мечты, 21</p>
        <ul class="header__menu">
          <li class="nav__item header__nav-item"><a class="header__nav-link" href="../contacts/contacts.html">Контакты</a></li>
          <li class="nav__item header__nav-item"><a class="header__nav-link" href="../catalog/catalog.html">Каталог</a></li>
          <li class="nav__item header__nav-item"><a class="header__nav-link" href="../sales/sales.html">Акции</a></li>
          <li class="nav__item header__nav-item"><a class="header__nav-link" href="articles.html">Статьи</a></li>
        </ul>
        <p class="phone header__phone"> +7 (456) 234 36 96 </p>
      </nav>
    </header>

    <section class="article-container">
      <h1 class="page-header article-container__page-header">Как приготовить пирог &laquo;Клубничный&raquo; у себя дома</h1>
      <article class="article-container__ingredients">
        <img class="article-container__pie-img" src="img/article-strawberry-pie.png" alt="strawberry-pie">
        <section class="article-container__ingr-container">
          <h5 class="article-container__ingr-header">Ингредиенты:</h5>
          <ul class="article-container__ingr-list">
            <li class="article-container__ingr-list-item">мука пшеничная - 240 г;</li>
            <li class="article-container__ingr-list-item">разрыхлитель - 1,5 ч. л.;</li>
            <li class="article-container__ingr-list-item">клубника свежая - 200 г;</li>
            <li class="article-container__ingr-list-item">масло сливочное - 100 г;</li>
            <li class="article-container__ingr-list-item">сахар - 210 г;</li>
            <li class="article-container__ingr-list-item">молоко - 125 мл;</li>
            <li class="article-container__ingr-list-item">яйцо - 1 шт.;</li>
            <li class="article-container__ingr-list-item">соль - 0,5 ч. л.;</li>
            <li class="article-container__ingr-list-item">сахарная пудра</li>
          </ul>
        </section>
      </article>
    </section>

    <section class="stages">
      <h1 class="stages__header">этапы приготовления:</h1>
      <div class="stages__content">
        <div class="stages__img stages__img_no_1"></div>
        <div class="stages__ol stages__ol_no_1">
          <div class="stages__border"></div>
        </div>
        <p class="stages__item stages__item__no_1">
          Поместить в миску мягкое сливочное масло. Отложить для посыпки 2 столовые ложки сахара, оставшийся сахар добавить к маслу и хорошо взбить венчиком
        </p>
        <div class="stages__img stages__img_no_2"></div>
        <div class="stages__ol stages__ol_no_2">
          <div class="stages__border"></div>
        </div>
        <p class="stages__item stages__item__no_2">
          В получившуюся смесь масла и сахара добавить яйцо и снова перемешать.
        </p>
        <div class="stages__img stages__img_no_3"></div>
        <div class="stages__ol stages__ol_no_3">
          <div class="stages__border"></div>
        </div>
        <p class="stages__item stages__item__no_3">
          Затем влить молоко комнатной температуры, добавить соль и просеянную с разрыхлителем муку, тщательно перемешать.
        </p>
        <div class="stages__img stages__img_no_4">
        </div>
        <div class="stages__ol stages__ol_no_4">
          <div class="stages__border"></div>
        </div>
        <p class="stages__item stages__item__no_4">
          Тесто для пирога со свежей клубникой получится густым, кремообразным.
        </p>
        <div class="stages__img stages__img_no_5"></div>
        <div class="stages__ol stages__ol_no_5">
          <div class="stages__border"></div>
        </div>
        <p class="stages__item stages__item__no_5">
          Взять плотную клубнику, промыть и обсушить. Форму диаметром 22 см застелить пергаментом, переложить туда тесто. Клубнику разрезать пополам и выложить на тесто срезом вниз. Посыпать тем сахаром, который откладывали.
        </p>
        <div class="stages__img stages__img_no_6"></div>
        <div class="stages__ol stages__ol_no_6">
          <div class="stages__border"></div>
        </div>
        <p class="stages__item stages__item__no_6">
          Нагреть духовку до 180 градусов и выпекать пирог со свежей клубникой 50 минут, затем остудить на решётке. Пирог можно посыпать сахарной пудрой, но и без неё выпечка получается вкусной.
        </p>
        <div class="stages__img stages__img_no_7"></div>
        <div class="stages__ol stages__ol_no_7"></div>
        <p class="stages__item stages__item__no_7">
          Когда пирог с клубникой остынет, разрезать его на кусочки и подать к чаю. Обязательно приготовьте наивкуснейшую выпечку по этому простому рецепту.
        </p>
      </div>
    </section>

    <section class="articles articles-page-wrapper__articles">
      <h1 class="block-header articles__block-header">Статьи</h1>
      <div class="articles__wrapper">
        <div class="articles__carousel">
          <div id="imgs" class="landing-cards landing-cards__articles">
            <a class="landing-card landing-card__articles
            landing-card_bg_strawberry" href="#" tabindex="-1" title="strawberry">
              <p class="landing-card__text">Как приготовить пирог &laquo;Клубничный&raquo; <br>у себя дома</p>
            </a>
            <a class="landing-card landing-card__articles landing-card__first-article landing-card_bg_health" href="#" tabindex="-1" title="health">
              <p class="landing-card__text">5 полезных для здоровья веществ, которые есть в морсах</p>
            </a>
            <a class="landing-card landing-card__articles landing-card_bg_advantage
            landing-card__last-article " href="#" tabindex="-1" title="advantage">
              <p class="landing-card__text">Почему наши пироги самые лучшие?</p>
            </a>
            <a class="landing-card landing-card__articles landing-card_bg_recipe
            landing-card__last-article" href="#" tabindex="-1" title="recipe">
              <p class="landing-card__text">Как приготовить пирог &laquo;Маргарита&raquo; <br>у себя дома</p>
            </a>
          </div>
        </div>
      </div>
      <div class="article__slider-container">
        <div class="article__slider-btns">
          <img id = "left" src="img/main-sale-slider.svg" alt="slider-button" class="article__slider-btn">
          <img id = "right" src="img/main-sale-slider.svg" alt="slider-button" class="article__slider-btn slider__button-right article__button-right">
        </div>
      </div>
    </section>

    <footer class="footer articles-page-wrapper__footer">
      <div class="footer__wrapper-mobile">
        <div class="footer__wrapper-item">
          <div class="footer__contacts">
            <h1 class="footer__contacts-item footer__contacts_header footer__contacts_mob">+7 (456) 234 36 96</h1>
            <p class="footer__contacts-item footer__contacts_mob">pirogi.support@gmail.com</p>
            <p class="footer__contacts-item footer__contacts_mob">Москва, ул. Мечты, 21</p>
          </div>
          <div class="footer__logo-social footer__wrapper-item_mob">
            <a class="footer__logo-item footer__logo-social_logo-mob" href="../../index.html" title="logo"><img src="../footer/img/footer-logo.svg" alt="logo"></a>
            <div class="footer__social-items footer__logo-social_social-mob">
              <a class="footer__social-item" href="#" title="vk">
                <img class="footer__social-item" src="../footer/img/vk-footer.svg" alt="vk-social"></a>
              <a class="footer__social-item footer__social-item_position" href="#" title="fb">
                <img class="../footer/footer__social-item" src="../footer/img/fb-footer.svg" alt="fb-social"></a>
              <a class="footer__social-item" href="#" title="inst">
                <img class="footer__social-item" src="../footer/img/inst-footer.svg" alt="inst-social"></a>
            </div>
          </div>
        </div>
        <div class="footer__wrapper-item">
          <a class="footer__input footer__wrapper-item_input-pos" href="../../index.html" title="subscribe">Подписаться на рассылку</a>
          <nav class="footer__nav footer__wrapper-item_nav-pos">
            <ul class="footer__nav-items">
              <li class="footer__nav-item"><a class="footer__nav-link"  href="../catalog/catalog.html">Каталог</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="../sales/sales.html">Акции</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="../contacts/contacts.html">Контакты</a></li>
            </ul>
            <ul class="footer__nav-items">
              <li class="footer__nav-item"><a class="footer__nav-link" href="../../index.html">О нас</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="articles.html">Статьи</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="../">Новости</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="footer__wrapper-desctop">
        <div class="footer__logo-social">
          <a class="footer__logo-item footer__logo-social_logo-desc footer-tab" href="../../index.html" title="logo"><img class="footer__logo-item" src="../footer/img/footer-logo.svg" alt="logo"></a>
          <div class="footer__social-items">
            <a class="footer__social-item footer-tab" href="#" title="vk">
              <img class="footer__social-item" src="../footer/img/vk-footer.svg" alt="vk-social">
            </a>
            <a class="footer__social-item footer__social-item_position footer-tab" href="#" title="fb">
              <img class="footer__social-item" src="../footer/img/fb-footer.svg" alt="fb-social">
            </a>
            <a class="footer__social-item footer-tab" href="#" title="inst">
              <img class="footer__social-item" src="../footer/img/inst-footer.svg" alt="inst-social">
            </a>
          </div>
        </div>
        <nav class="footer__nav">
          <ul class="footer__nav-items">
            <li class="footer__nav-item"><a class="footer__nav-link footer-tab" href="../catalog/catalog.html" title="catalog">Каталог</a></li>
            <li class="footer__nav-item"><a class="footer__nav-link footer-tab" href="../sales/sales.html" title="sales">Акции</a></li>
            <li class="footer__nav-item"><a class="footer__nav-link footer-tab" href="../contacts/contacts.html" title="contacts">Контакты</a></li>
          </ul>
          <ul class="footer__nav-items">
            <li class="footer__nav-item"><a class="footer__nav-link footer-tab" href="../../index.html" title="main-page">О нас</a></li>
            <li class="footer__nav-item"><a class="footer__nav-link footer-tab" href="articles.html" title="articles">Статьи</a></li>
            <li class="footer__nav-item"><a class="footer__nav-link footer-tab" href="articles.html" title="news">Новости</a></li>
          </ul>
        </nav>
        <div class="footer__contacts">
          <a class="footer__input footer-tab" href="../../index.html" title="subscribe">Подписаться на рассылку</a>
          <div class = "footer__container">
            <p class="footer__contacts-item">pirogi.support@gmail.com</p>
          <h1 class="footer__contacts-item">+7 (456) 234 36 96</h1>
          <p class="footer__contacts-item">Москва, ул. Мечты, 21</p>
          </div>
        </div>
      </div>
      <div class="footer__policy">
        <p class="footer__policy-item">Политика конфиденциальности</p>
        <p class="footer__policy-item">&#169; 2021, All rights reserved</p>
      </div>
    </footer>
  </div>
</body>

</html>
