<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../project/css/style.css">
  <link rel="stylesheet" href="landing-main-screen.css">
  
  <title>Document</title>
</head>
<body>
  <article class="main-screen">
      <section class="pie-shop-adv">
        <h1 class="pie-shop-adv__header main-screen_align_text">Пироговая N1</h1>
        <h2 class="pie-shop-adv__paragraph main-screen_align_text">Домашние пироги для всей семьи<br> со скидкой 20%<br></h2>
        <h3 class="pie-shop-adv__small-paragraph main-screen_align_text">Проводите время с семьей, а не с духовкой</h3>
        <input class="button main-screen__button" type="button" value="Подробнее">
        <p class="pie-shop-adv__small-paragraph main-screen_align_text pie-shop-adv__small-paragraph_disp_none">... ммм, скоро будет вкусно</p>
      </section>
      <div class=main-screen__block></div>
      
      <section class="main-screen__slider">
          <a href="#" class="slider__link">
            <p class="slider__content">Скидка 20% при заказе трех и более пирогов</p>
            <p class="slider__content slider__content_more">подробнее</p>
          </a>
          <a href="#" class="slider__link-inner slider__link_disabled">
            <p class="slider__content">При заказе от 5000 &#8381 доставка бесплатно</p>
            <p class="slider__content slider__content_more">подробнее</p>
          </a>
          <a href="#"><img src="img/main-sale-slider.svg" alt="slider-button" class="slider__button-left"></a>
          <a href="#"><img src="img/main-sale-slider.svg" alt="slider-button" class="slider__button-right"></a>
      </section>

      <section class="main-screen__slider-desctop">
          <a href="#" class="slider__link">
            <p class="slider__content slider__link_type_animated">Скидка 20% при заказе трех и более пирогов</p>
            <p class="slider__content slider__content_more slider__content_type_animated-1">подробнее</p>
          </a>
          <a href="#" class="slider__link slider__link_type_bg-changed">
            <p class="slider__content slider__link_type_animated">При заказе от 5000 &#8381 доставка бесплатно</p>
            <p class="slider__content slider__content_more slider__content_type_animated-2">подробнее</p>
          </a>
      </section>
    </article>

    <section class="advantages">
      <div class="advantages__container">
        <div class="advantages__bg advantages__bg_donuts"></div>
        <p class="advantages__name">Любой объем</p>
      </div>
      <div class="advantages__container">
        <div class="advantages__bg advantages__bg_oven"></div>
        <p class="advantages__name">Доставим горячими</p>
      </div>
      <div class="advantages__container">
        <div class="advantages__bg advantages__bg_cake"></div>
        <p class="advantages__name">Вкусные начинки</p>
      </div>
      <div class="advantages__container">
        <div class="advantages__bg advantages__bg_bread"></div>
        <p class="advantages__name">Сочные и свежие</p>
      </div>
    </section>

    <section class="landing-catalog">
      <h1 class="block-header landing-catalog__block-header">в нашем каталоге</h1>
      <div class="landing-cards" >
        <a class ="landing-card landing-card_bg_sweet" href="#">
        <p class="landing-card__label">Сладкие пироги</p>
        </a>
        <a class ="landing-card landing-card_bg_fat" href="#">
        <p class="landing-card__label">Сытные пироги</p>
        </a>
        <a class ="landing-card landing-card_bg_morse" href="#">
        <p class="landing-card__label">Морсы</p>
        </a>
        <a class ="landing-card landing-card_bg_pie" href="#">
        <p class="landing-card__label">Пирожки</p>
        </a>
      </div>
    </section>

    <section class="articles">
      <h1 class="block-header articles__block-header">Статьи</h1>
      <div class="landing-cards landing-cards__articles">
        <a class ="landing-card landing-card__articles landing-card__first-article landing-card_bg_health" href="#">
          <p class="landing-card__text">5 полезных для здоровья веществ, которые есть в морсах</p>
        </a>
        <a class ="landing-card landing-card__articles
         landing-card_bg_recipe" href="#">
        <p class="landing-card__text">Как приготовить пирог «Маргарита» <br>у себя дома</p>
        </a>
        <a class ="landing-card landing-card__articles landing-card_bg_advantage
        landing-card__last-article" href="#">
        <p class="landing-card__text">Почему наши пироги самые лучшие?</p>
        </a>
      </div>
    </section>

    <div class="email-bg">
      <form action="submit" class="email-form">
          <h2 class="e-mail-form__header e-mail-form__header_font_basic">Подпишитесь на нашу рассылку</h2>
          <p class="e-mail-form__header e-mail-form__header_font_regular">и первым узнавайте об акциях и скидках!</p>
          <input class="email-form__input-text" type="text" name="e-mail" value="Введите ваш e-mail"> 
          <input class="email-form__input-button" type="submit">
      </form>
    </div>

</body>
</html>