<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="footer.css">
</head>

<body>
    <footer class="footer">
      <div class="footer__wrapper-mobile">
        <div class="footer__wrapper-item">
          <div class="footer__contacts">
            <h1 class="footer__contacts-item footer__contacts_header footer__contacts_mob">+7 (456) 234 36 96</h1>
            <p class="footer__contacts-item footer__contacts_mob">pirogi.support@gmail.com</p>
            <p class="footer__contacts-item footer__contacts_mob">Москва, ул. Мечты, 21</p>
          </div>
          <div class="footer__logo-social footer__wrapper-item_mob">
            <a class="footer__logo-item footer__logo-social_logo-mob" href="index.html"><img src="img/footer-logo.svg" alt="logo"></a>
            <div class="footer__social-items footer__logo-social_social-mob">
              <a class="footer__social-item" href="#"><img class="footer__social-item" src="img/vk-footer.svg" alt="vk-social"></a>
              <a class="footer__social-item footer__social-item_position" href="#"><img class="footer__social-item" src="img/fb-footer.svg" alt="fb-social"></a>
              <a class="footer__social-item" href="#"><img class="footer__social-item" src="img/inst-footer.svg" alt="vk-social"></a>
            </div>
          </div>
        </div>
        <div class="footer__wrapper-item">
          <input class="footer__input footer__wrapper-item_input-pos" type="button" value="Подписаться на рассылку">
          <nav class="footer__nav footer__wrapper-item_nav-pos">
            <ul class="footer__nav-items">
              <li class="footer__nav-item"><a class="footer__nav-link"  href="#">Каталог</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="#">Акции</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="#">Контакты</a></li>
            </ul>
            <ul class="footer__nav-items">
              <li class="footer__nav-item"><a class="footer__nav-link" href="#">О нас</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="#">Статьи</a></li>
              <li class="footer__nav-item"><a class="footer__nav-link" href="#">Новости</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="footer__wrapper-desctop">
        <div class="footer__logo-social">
          <a class="footer__logo-item footer__logo-social_logo-desc" href="index.html"><img class="footer__logo-item" src="img/footer-logo.svg" alt="logo"></a>
          <div class="footer__social-items">
            <a class="footer__social-item" href="#"><img class="footer__social-item" src="img/vk-footer.svg" alt="vk-social"></a>
            <a class="footer__social-item footer__social-item_position" href="#"><img class="footer__social-item" src="img/fb-footer.svg" alt="fb-social"></a>
            <a class="footer__social-item" href="#"><img class="footer__social-item" src="img/inst-footer.svg" alt="vk-social"></a>
          </div>
        </div>
        <nav class="footer__nav">
          <ul class="footer__nav-items">
            <li class="footer__nav-item"><a class="footer__nav-link"  href="#">Каталог</a></li>
            <li class="footer__nav-item"><a class="footer__nav-link" href="#">Акции</a></li>
            <li class="footer__nav-item"><a class="footer__nav-link" href="#">Контакты</a></li>
          </ul>
          <ul class="footer__nav-items">
            <li class="footer__nav-item"><a class="footer__nav-link" href="#">О нас</a></li>
            <li class="footer__nav-item"><a class="footer__nav-link" href="#">Статьи</a></li>
            <li class="footer__nav-item"><a class="footer__nav-link" href="#">Новости</a></li>
          </ul>
        </nav>
        <div class="footer__contacts">
          <input class="footer__input" type="button" value="Подписаться на рассылку">
          <div class = "footer__container">
            <p class="footer__contacts-item">pirogi.support@gmail.com</p>
          <h1 class="footer__contacts-item">+7 (456) 234 36 96</h1>
          <p class="footer__contacts-item">Москва, ул. Мечты, 21</p>
          </div>
        </div>
      </div>
      <div class="footer__policy">
        <p class="footer__policy-item">Политика конфиденциальности</p>
        <p class="footer__policy-item">&#169 2021, All rights reserved</p>  
      </div>
    </footer>
</body>

</html>
