@import url(../../style.css);
@import url(../page-header/page-header.css);
@import url(../header/header.css);
@import url(../button/button.css);
@import url(../footer/footer.css);
@import url(../form/form.css);

/* :root {
  --contacts-form-header-color: var(--dark-purple);
  --contacts-input-text-color: var(--dark-grey);
  --contacts-checkbox-label-color: var(--dark-purple);
  --contacts-text-color: var(--dark-purple);
  --contacts-input-button: var(--grey);
} */

.contacts {
  margin: 5rem 0 2rem;
}

.contacts__form-wrapper {
  max-width: 17.5rem;
  margin: 2.1875rem auto 0;
}

.contacts__form {
  max-width: 17.5rem;
  margin: 0 0 1.5625rem;
  padding: 0;
  background: transparent;
}

.contacts__form-label {
  color: var(--contacts-form-header-color);
  font-size: .875rem;
  line-height: 1rem;
}

.contacts__input-text {
  width: 100%;
  margin: 0.9375rem 0 1.875rem;
  color: var(--contacts-input-text-color);
  font-size: .625rem;
  font-weight: 300;
  line-height: .875rem;
}

.contacts__checkbox {
  margin: .6875rem 0 0 1.4375rem;
}

.contacts__checkbox-label {
  position: relative;
  bottom: 2px;
  color: var(--contacts-checkbox-label-color);
  font-size: 0.625em;
  font-weight: 300;
}

.contacts__input-button {
  width: fit-content;
  padding: .625rem 3.125rem;
  color: var(--contacts-input-button);
  font-size: .9375rem;
  font-weight: 600;
  line-height: 1.0625rem;
}

.contacts__block {
  max-width: 17.5rem;
  margin: 0 0 .9375rem;
}

.contacts__header {
  padding: 0 0 0.625rem;
  font-size: 1rem;
  line-height: 1.1875rem;
  text-align: center;
}

.contacts__text {
  color: var(--contacts-text-color);
  font-size: 0.75rem;
  line-height: 130%;
  text-align: center;
}

@media screen and (min-width: 26rem) {
  .contacts__form-label {
    font-size: 1.375rem;
    line-height: 1.625rem;
  }

  .contacts__input-text {
    font-size: 1rem;
    line-height: 1.1875rem;
  }

  .contacts__input-button {
    padding: .875rem 4.25rem;
    font-size: 1.25rem;
    line-height: 1.4375rem;
  }
}

@media (min-width: 35rem) {
  .contacts {
    width: 100%;
    margin: 8.125rem auto 3.4375rem;
  }

  .contacts__header {
    font-size: 1.5rem;
    line-height: 1.625rem;
    text-align: left;
  }

  .contacts__text {
    font-size: 1.125rem;
    line-height: 130%;
    text-align: left;
  }

  .contacts__form-wrapper {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    max-width: 60rem;
    width: 100%;
  }

  .contacts__form {
    max-width: 24.5rem;
    width: 100%;
  }

  .contacts__text-blocks-wrapper {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    width: 65%;
  }

  .contacts__block {
    min-width: 24.5rem;
    vertical-align: top;
  }

  .contacts__checkbox {
    margin: .6875rem 0 0 4.9375rem;
  }
}

@media (min-width: 62.5rem) {
  .contacts__form-wrapper {
    justify-content: space-between;
  }

  .contacts__form-wrapper {
    flex-flow: nowrap;
  }
}

@media (min-width: 80rem) {
  .contacts {
    margin: 8.125rem auto 3.4375rem;
  }

  .contacts__form-wrapper {
    max-width: 80rem;
    width: 100%;
  }

  .contacts__text-blocks-wrapper {
    justify-content: space-between;
  }
}
