@import url(../../style.css);
@import url(../page-header/page-header.css);
@import url(../header/header.css);
@import url(../footer/footer.css);
@import url(../card/card.css);

/* :root {
  --sales-card-color: var(--purple);
  --sales-inner-card-color: var(--pink);
  --sales-container-content-color: var(--white);
  --promo-bg-color: var(--grey);
  --timer-block-color: var(--white);
} */

.sales-container {
  max-width: 80rem;
  margin: 0 2rem;
}

.sales-container__card_change_order {
  order: 2;
}

@media screen and (min-width: 80rem) {
  .sales-container {
    margin: auto;
  }
}

.sales-container__wrapper {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  margin: 0 1rem 3.125rem;
}

@media screen and (min-width: 80rem) {
  .sales-container__wrapper {
  justify-content: space-between;
  }

  .sales-container__card_change_order {
    order: 0;
  }
}

.sales-container__page-header {
  margin: 5rem 0 2rem;
}

.sales-container__card {
  width: 19rem;
  margin: 0 0.5rem 1rem;
  padding: 15px 20px;
  background-color: var(--sales-card-color);
}

.sales-container__card_color_pink {
  background: var(--sales-inner-card-color);
}

.card__text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 7.8rem;
  margin: 0 1rem 0 0;
}

.sales-container__title {
  min-height: 3.2rem;
  margin: 0;
  color: var(--sales-container-content-color);
  font-size: 12px;
  line-height: 14px;
}

.sales-container__text {
  color: var(--sales-container-content-color);
  font-size: 9px;
}

.sales-container__body {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.sales-container__img {
  width: 6rem;
  color: var(--sales-container-content-color);
}

@media (min-width: 37rem) {
  .sales-container__page-header {
    margin: 8.125rem 0 3.4375rem;
  }

  .sales-container__card {
    width: 37rem;
    padding: 30px 40px;
    margin: 0 0.5rem 1.875rem;
  }

  .card__text-container {
    width: 15.8rem;
    height: 10.625rem;
  }

  .sales-container__title {
    font-size: 24px;
    line-height: 28px;
  }

  .sales-container__text {
    font-size: 18px;
    line-height: 22px;
  }

  .sales-container__img {
    width: 11rem;
  }
}

.promo-container {
  padding: 2rem 0;
  margin: 5rem 0;
  background: var(--promo-bg-color);
}

.promo {
  max-width: 80rem;
  margin: 0 auto;
}

.promo__descr {
  margin: 2rem;
  font-size: 1rem;
  line-height: 130%;
  text-align: center;
}

.promo__timer {
  width: 100%;
}

.promo__title {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
}

.timer {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  margin: 2rem 1rem;
  align-items: center;
}

.timer__block {
  width: 102px;
  height: 120px;
  margin:0 1.1rem;
  background: var(--timer-block-color);
  box-shadow: 0 4px 20px rgba(0, 0, 0, .25);
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

@media (min-width: 27.5rem) {
  .timer__block {
    margin: 0;
  }
}

.timer__cell {
  display: block;
  margin-top: 1.25rem;
  margin-bottom: .3125rem;
  font-size: 56px;
  font-weight: 700
}

@media (min-width: 63rem) {
  .promo__wrapper {
    display: flex;
  }

  .promo__text {
    width: 50%
  }

  .promo__block-header {
    text-align: left;
    line-height: 100%;
  }

  .promo__descr {
    margin: 1.37rem 0;
    font-size: 1.125rem;
    line-height: 130%;
    text-align: left;
  }

  .promo__timer {
    width: 50%
  }

  .promo__title {
    text-align: right
  }

  .timer {
    justify-content: space-between;
    margin: 1rem 0 1rem 2rem;
  }
}
