@import url(../../css/style.css);
@import url(../page-header/page-header.css);
@import url(../header/header.css);
@import url(../footer/footer.css);
@import url(../card/card.css);


.sales-container {
  max-width: 80rem;
  margin: 0 2rem;
}

.sales-container__card_change_order {
  order: 2;
}


@media screen and (min-width: 80rem) {
  .sales-container {
    margin: auto;
  }
}

.sales-container__wrapper {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  margin: 0 0 3.125rem;
}

@media screen and (min-width: 77.8rem) {
  .sales-container__wrapper {
  justify-content: space-between;
  }

  .sales-container__card_change_order {
    order: 0;
  }
}

.sales-container__page-header {
  margin: 5rem 0 2rem;
}

.sales-container__card {
  width: 17.5rem;
  padding: 15px 20px;
  background: #621055;
  margin: 0 0.5rem 1rem;
}

.sales-container__card_color_pink {
  background: #B52B65;
}

.card__text-container {
  width: 7.8rem;
  margin: 0 1rem 0 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sales-container__title {
  color: white;
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  min-height: 3.2rem;
}

.sales-container__text {
  color: white;
  font-size: 9px;
}

.sales-container__body {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.sales-container__img {
  width: 6rem;
  color: white;
}

@media (min-width: 35rem) {
  .sales-container__page-header {
    margin: 8.125rem 0 3.4375rem;
  }

  .sales-container__card {
    width: 35.375rem;
    padding: 30px 40px;
    margin: 0 0.5rem 1.875rem;
  }

  .card__text-container {
    width: 15.8rem;
    height: 10.625rem;
  }

  .sales-container__title {
    font-size: 24px;
    line-height: 28px;
  }

  .sales-container__text {
    font-size: 18px;
    line-height: 22px;
  }

  .sales-container__img {
    width: 11rem;
  }
}

.promotion {
  max-width: 1280px;
  margin: 2rem auto;
  
}

.promotion .container {
  display: flex
}

.promotion .bgc_y {
  position: absolute;
  width: 50%;
  height: 499px;
  background: rgba(243, 255, 222, .35);
  z-index: -1;
  top: -50px;
  left: 0
}

.promotion__text {
  width: 50%
}

.promotion__descr {
  margin-top: 40px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300
}

.promotion__descr span {
  font-weight: 700;
  font-size: 26px
}

.promotion__timer {
  width: 50%
}

.promotion__timer .title {
  text-align: right
}

.promotion__timer .timer {
  margin-top: 60px;
  padding-left: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.promotion__timer .timer__block {
  width: 102px;
  height: 120px;
  background: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, .25);
  font-size: 16px;
  font-weight: 300;
  text-align: center
}

.promotion__timer .timer__block span {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 56px;
  font-weight: 700
}

